* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #345;
}

header {
    text-align: center;
    padding: 1rem;
    background-color: #191919;
    color: white;
}

#container {
    width: 80%;
    background-color: #9ab;
    align-self: center;
    min-height: 100vh;
}

#sub-header-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 5px;
}

#for-books-display {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.cards {
    flex: 0 1 calc(100% / 5);
    aspect-ratio: 1/1.5;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    padding: 0.5rem;
    background-color: rgb(142, 150, 158);
    border-radius: 4px;
    position: relative;
}

.cards > * {
    flex: 1;
}

.removeBtn {
    position: absolute;
    top: -5px;
    right: -5px;
    border: 1px solid black;
    background-color: rgb(137, 34, 34);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    font-weight: 700;
}

#add-book {
    font-weight: bolder;
    padding: 0 0.3rem;
    background-color: rgb(15, 131, 15);
    border-radius: 6px;
    border: 1px solid black;
}

#dialog {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

#dialog > form {
    color: white;
    background-color: rgb(34, 33, 33);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 0.4rem;
    border-radius: 4px;
}

#dialog-buttons {
    display: flex;
    justify-content: space-between;
}

#dialog-buttons > button {
    padding: 0.4rem;
    margin-top: 1rem;
    border-radius: 4px;
    font-weight: 700;
}

#dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

input, label {
    border-radius: 4px;
    border: none;
    font-family: inherit;
    padding: 4px;
    font-weight: 600;
}

#submit-btn {
    background-color: rgb(15, 131, 15);
    font-weight: 400;
}

.read {
    background-color: rgb(100, 141, 37);
}

.not-read {
    background-color: rgb(137, 34, 34);
}